* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body > input:first-of-type {
    margin-left: 20px;
}

div {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

label {
    padding-left: 20px;
}